<!-- NAVIGATION -->
<header>
  <ul class="header-logo">
    <li class="logo"><a href="/" title="Dark Airbnb Logo"><img src="img/DarkAirbnbLogo.png" alt=""></a></li>
    <li class="slider"></li>
    {{!-- <li>English</li>
    <li>$CAD</li> --}}
    <li class="signin"><a href="/signup" title="Sign In"><img src="img/user-white.png" alt=""><strong class="signin-lbl">Sign Up</strong></a>
    </li>
    {{!-- <li class="shopping-cart"><a href="#"><img src="img/Cart.png" alt=""><strong class="cart-lbl" id="cartQty"></strong></a></li> --}}
  </ul>

  <nav class="header-nav">
    <ul class="menu-list">
      <li><a href="/" >Home</a></li>
      <li><a href="/room-listing" >Room Listing</a></li>
      <li><a href="/signup" >User Registration</a></li>
      {{!-- <li><a href="#">Services</a></li> --}}
    </ul>
  </nav>

</header>