{{!-- <header>
            <h1>{{headingInfo}}</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/room-listing">Room Listing</a></li>
                <li><a href="/contactus">Product</a></li>
                <li><a href="/user-registration">User Registration</a></li>
            </ul>
        </nav>
        <main>
                {{{body}}}
        </main> --}}

<!-- NAVIGATION -->
<header>
  <ul class="header-logo">

    <li class="logo"><a href="#"><img src="img/DarkAirbnbLogo.png" alt=""></a></li>
    <li class="carousel">test</li>
    <li class="signin"><a href="/user-registration" title="Sign In"><img src="img/user-white.png" alt=""><strong class="signin-lbl">Sign In</strong></a>
    </li>
    {{!-- <li class="shopping-cart"><a href="#"><img src="img/Cart.png" alt=""><strong class="cart-lbl" id="cartQty"></strong></a></li> --}}
  </ul>

  <nav class="header-nav">
    <ul class="menu-list">
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/room-listing" title="Room Listing">Room Listing</a></li>
      <li><a href="/user-registration" title="User Registration">User Registration</a></li>
      {{!-- <li><a href="#">Services</a></li> --}}
    </ul>
  </nav>
  <!-- Search the site -->


  <!-- Additional functionality or links -->
  <!-- <ul>
          <li><button><span class="material-icons">favorite_border</span></button></li>
          <li><button><span class="material-icons">shopping_cart</span></button></li>
        </ul> -->
</header>