 {{#each carousel }}
<div class="slider-holder">
  
  <span id="slider-image-1"></span>

 
  <div class="image-holder">
    
    <img src={{this.sliderImg}} class="slider-image" />
  {{!-- <background-image: url({{this.sliderImg}}) class="slider-image"> --}}
  </div>

  <div class="button-holder">
    <a href="#slider-image-1" class="slider-change"></a>

  </div>
</div>
  {{/each}}