<div class="user-reg-info">
{{#each userRegInfo}}
<p>We sent email to </p>
<p>To continue, please check your email and verify your account</p>
<p>Didn't receive email?</p>
<p><a href="#">Email</a></p>
<h3>{{this}}</h3>
   

{{/each}}
</div>