<div class="verified-user">

{{replyMsg}}


{{!-- <h3>We sent an sent email to {{userReg.email}} and SMS to {{userReg.phoneNumber}}. To continue, please check your email and verify your account. Didn't receive email?</h3> --}}
{{!-- <h3><a href="#">Resend Email</a></h3><br> --}}

{{!-- {{#each userReg}}
{{this}}
{{/each}} --}}
</div>
