
<div>
  <h2>{{headingInfo}}</h2>
    
    <form method="POST" action="/room/add">

        <label>Title</label>
        <input type="text" name="title" id="title"> <br><br>

        <label>Description</label>
        <textarea id="description" name="description"></textarea><br><br>
        <label>Price</label>
        <input type="text" name="price" id="price"> <br><br>
        <label>Address</label>
        <input type="text" name="address" id="address"> <br><br>

        <label>Status</label>
        <select name="status">
            <option value="open">Available</option>
            <option value="close">Not Available</option>
        </select>
        <br><br>
        <label>File Upload</label>
        <input type="file" name="profilePic" id="profilePic"> <br><br>
        <input type="submit" value="Add">

    </form>
</div>