<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="Rent Rooms">
    <meta name="author" content="Ivandi S">
    <!-- You may change this "Reset" to "Normalize" if preferred -->
    <link rel="stylesheet" href="css/reset.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!-- Material design icons are use below. Remove this line if using other font packs or images. Details on Material Design icons can be found here: https://material.io/resources/icons/ -->
    <!-- <script src="https://kit.fontawesome.com/91d2257466.js" crossorigin="anonymous"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script> 
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
        {{!-- <header>
            <h1>{{headingInfo}}</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/room-listing">Room Listing</a></li>
                <li><a href="/contactus">Product</a></li>
                <li><a href="/user-registration">User Registration</a></li>
            </ul>
        </nav>
        <main>
                {{{body}}}
        </main> --}}

    <div class="wrapper">
    <!-- NAVIGATION -->
    <header>
        <ul class="header-logo">
          
          <li class="logo"><a href="#"><img src="img/DarkAirbnbLogo.png" alt=""></a></li>
          <li class="carousel">test</li>
          <li class="signin"><a href="#"><img src="img/user-white.png" alt=""><strong class="signin-lbl">Sign In</strong></a></li>
          {{!-- <li class="shopping-cart"><a href="#"><img src="img/Cart.png" alt=""><strong class="cart-lbl" id="cartQty"></strong></a></li> --}}
        </ul>

      <nav class="header-nav">
        <ul class="menu-list">
          <li><a href="/">Home</a></li>
          <li><a href="/room-listing">Room Listing</a></li>
          <li><a href="/user-registration">User Registration</a></li>
          {{!-- <li><a href="#">Services</a></li> --}}
        </ul>
      </nav>
       <!-- Search the site -->
       
  
        <!-- Additional functionality or links -->
        <!-- <ul>
          <li><button><span class="material-icons">favorite_border</span></button></li>
          <li><button><span class="material-icons">shopping_cart</span></button></li>
        </ul> -->
    </header>

    <main class="main-section">
        <section class="filters-by">
          <h2>Filters</h2>
          <form class="filters" id="filtersForm">
            <fieldset>
            <legend for="productName"> &nbsp Search &nbsp</legend>
              <input type="search" name="find" id="productName">
            
          </fieldset>
            <!-- <button type="button"><span class="material-icons">search</span></button> -->
            {{!-- <fieldset class="brandName">
              <legend for="brandName">&nbsp Brand &nbsp</legend>
                <select name="brandName" id="brandName">
                  <option value="all" selected>All Brands</option>
                  <option value="adidas">Adidas</option>
                  <option value="champion">Champion</option>
                  <option value="fila">Fila</option>
                  <option value="nike">Nike</option>
                  <option value="puma">Puma</option>
                </select>
              
            </fieldset> --}}
            {{!-- <fieldset class="rating">
              <legend> &nbsp Ratings &nbsp</legend>
              <ul class="rating-list">
                <li><label for="all"><input type="radio" name="rating" value="all" checked>&nbsp All
                  </label>
                </li>
                <li><label><input type="radio" name="rating" value="5stars">
                    <img src="img/products/5stars.png" class="rating-img">
                  </label>
                </li>
                <li>
                  <label><input type="radio" name="rating" value="4stars">
                    <img src="img/products/4stars.png" class="star">
                  </label>
                </li>
                <li>
                  <label><input type="radio" name="rating" value="3stars">
                    <img src="img/products/3stars.png" class="star">
                  </label>
                </li>
                <li>
                  <label><input type="radio" name="rating" value="2stars">
                    <img src="img/products/2stars.png" class="star">
                  </label>
                </li>
                <li>
                  <label><input type="radio" name="rating" value="1star">
                    <img src="img/products/1star.png" class="star">
                  </label>
                </li>
                <li>
                  <label> <input type="radio" name="rating" value="nostar">
                    <img src="img/products/0star.png" class="star">
                  </label>
                </li>
              </ul>
            </fieldset> --}}
            <!-- <fieldset class="colour">
              <legend>&nbsp Colour &nbsp</legend>
              <ul>
                <li><input type="checkbox" name="colour" value="black" id="black"> <label for="black">Black</label></li>
                <li><input type="checkbox" name="colour" value="yellow" id="yellow"> <label for="yellow">Yellow</label></li>
                <li><input type="checkbox" name="colour" value="grey" id="grey"> <label for="grey">Grey</label></li>
                <li><input type="checkbox" name="colour" value="red" id="red"> <label for="red">Red</label></li>
                <li><input type="checkbox" name="colour" value="blue" id="blue"> <label for="blue">Blue</label></li>
              </ul>
            </fieldset> -->
                    <!--   <fieldset class="sort-by-size">
                        <legend>Sizes</legend>
                        <ol>
                          <li><input type="checkbox" name="size" value="xs" id="xs"> <label for="xs">XS</label></li>
                          <li><input type="checkbox" name="size" value="sm" id="sm"> <label for="sm">S</label></li>
                          <li><input type="checkbox" name="size" value="md" id="md"> <label for="md">M</label></li>
                          <li><input type="checkbox" name="size" value="lg" id="lg"> <label for="lg">L</label></li>
                          <li><input type="checkbox" name="size" value="xl" id="xl"> <label for="xl">XL</label></li>
                        </ol>
                      </fieldset> -->
          </form>
        </section>
        <section class="mid-section">
          <header class="sort-by">
            <!-- <h1>Sale on [Category Name]</h1> -->
            <fieldset class="sort-order">
              <label for="sortOrder">Sort by:
                <select name="sort" id="sortOrder" class="sort">
                  <!-- <option value="none" disabled selected>-- Sort by --</option> -->
                  <option value="priceHigh">Price, highest to lowest</option>
                  <option value="priceLow">Price, lowest to highest</option>
                  <option value="nameAsc" selected>Name, A to Z</option>
                  <option value="nameDesc">Name, Z to A</option>
                  <!-- <option value="newest">Newest releases</option> -->
                </select>
              </label>
            </fieldset>
        
            <h2>Products <small id="numResults">(5 results)</small></h2>
          </header>
          <section id="products" class="products"></section>
        {{{body}}}
          <!-- <div class="list" id="list"></div> -->
          <div class="pagenumbers" id="pagination"></div><br>
        </section>
    </main>
  </div>
  <!-- FOOTER -->
  <footer class="footer">
    <ul class="cs">
      <li>Dark Airbnb</li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Policies</a></li>
      <li><a href="#">Help</a></li>
    </ul>
    <ul class="mobile-apps">
  
      <li><a href="#"><img src="img/android-white.png"><strong>Android App</strong></a></li>
      <li><a href="#"><img src="img/apple-white.png"><strong>iOS App</strong></a></li>
    </ul>
    <ul class="social-media">
      <li><a href="#"><img src="img/facebook-white.png"></a></li>
      <li><a href="#"><img src="img/instagram-white.png"></a></li>
      <li><a href="#"><img src="img/twitter-white.png"></a></li>
    </ul>
    <p class="copyright">&copy 2020, Dark Airbnb</p>
  </footer>
  <script src="js/index.js"></script>

</body>
</html>