<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
        <header>
            <h1>{{headingInfo}}</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/room-listing">Room Listing</a></li>
                {{!-- <li><a href="/products">Product</a></li> --}}
                <li><a href="/user-registration">User Registration</a></li>
            </ul>
        </nav>
        <main>
                {{{body}}}
        </main>
     <!-- FOOTER -->
     <footer class="footer">
         <ul class="cs">
           <li>Customer Support</li>
           <li><a href="#">Contact Us</a></li>
           <li><a href="#">Return & Exchanges</a></li>
         </ul>
         <ul class="mobile-apps">
           
           <li><a href="#"><img src="img/ico/icons8-android-os-50.png"><strong>Android App</strong></a></li>
           <li><a href="#"><img src="img/ico/icons8-apple-logo-50.png"><strong>iOS App</strong></a></li>
         </ul>
         <ul class="social-media">
           <li><a href="#"><img src="img/ico/icons8-facebook-old-50.png"></a></li>
           <li><a href="#"><img src="img/ico/icons8-instagram-old-50.png"></a></li>
           <li><a href="#"><img src="img/ico/icons8-twitter-squared-50.png"></a></li>
         </ul>
       <p class="copyright">&copy 2020, Dark Airbnb</p>
     </footer>
</body>
</html>