<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{{title}}</title>
</head>
<body>
        <header>
            <h1>{{headingInfo}}</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/room-listing">Room Listing</a></li>
                {{!-- <li><a href="/contactus">Product</a></li> --}}
                <li><a href="/user-registration">User Registration</a></li>
            </ul>
        </nav>
        <main>
                {{{body}}}
        </main>
     <!-- FOOTER -->
     <footer class="footer">
         <ul class="cs">
           <li>Dark Airbnb</li>
           <li><a href="#">Careers</a></li>
           <li><a href="#">Policies</a></li>
           <li><a href="#">Help</a></li>
         </ul>
         <ul class="mobile-apps">
           
           <li><a href="#"><img src="img/android-white.png"><strong>Android App</strong></a></li>
           <li><a href="#"><img src="img/apple-white.png"><strong>iOS App</strong></a></li>
         </ul>
         <ul class="social-media">
           <li><a href="#"><img src="img/facebook-white.png"></a></li>
           <li><a href="#"><img src="img/instagram-white.png"></a></li>
           <li><a href="#"><img src="img/twitter-white.png"></a></li>
         </ul>
       <p class="copyright">&copy 2020, Dark Airbnb</p>
     </footer>
</body>
</html>