<form action="">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName"> <br>

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName"> <br>

    <label for="phoneNo">Phone No</label>
    <input type="text" id="phoneNo"> <br>

    <label for="message">Message</label>
   <textarea name="" id="message"></textarea><br>

   <input type="button" value="Submit">

</form>