{{!-- {{#each products }}
<div>
        <p>
           Title: {{this.title}}
        </p>
        <p>
            Price :${{this.price}}
        </p>
        <p>
           Description {{this.description}}
        </p>
</div>


{{/each}} --}}
<h1>TEST room listing1</h1>
<ul>
   <li>1</li>
   <li>2</li>
</ul>
