
<div class="sign-up">
  <form method="POST" action="/signup">
    <p><input type="text" name="email" value="" placeholder="Email address">*</p>
    <p><input type="text" name="phoneNumber" value="" placeholder="Phone number">*</p>
    <p><input type="text" name="fistName" value="" placeholder="First name">*</p>
    <p><input type="text" name="lastName" value="" placeholder="Last name">&nbsp</p>
    <p><input type="password" name="password" value="" placeholder="Create a password">*</p>
    <p class="dont_want_receive">
      <label>
        <input type="checkbox" name="dont_want_receive" id="dont_want_receive">
        I don't want to receive marketing messages from Dark Airbnb
      </label>
    </p>
    <p class="submit"><input type="submit" name="signup" value="Sign up"></p>
  </form>
{{#each messages}}
<div class="errors">{{this}}</div>
{{/each}}
</div>
{{!-- <div class="login-help">
  <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
</div> --}}
<div class="login-help">
  <p>Already have an Dark Airbnb account <a href="/login">Log in</a></p>
</div>