.main-info {
  padding: 1rem;
  width: 100%;
  border-left: solid 1px;
  border-right: solid 1px;
}

.sub-header h1{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.sub-nav{
 padding: 1rem 0;



}
.sub-nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;

  /* text-align: right;
  justify-content: right;
  justify-items: right;
  align-items: flex-end;
  align-content: flex-end; */

}


.main-info a{
  padding: 0.5rem;
  border: solid 1px;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.25rem;

}

.main-info a:hover  {
  background-color:var(--light);
  color: var(--dark);
  border-color: var(--light);
}

.sub-footer{
  padding: 1rem 0;
}


.info label{
display: inline-block;
max-width: 30%;
min-width: 30%;

}


.info input[type=text], .info input[type=date], .info select, .info input[type=file], .info input[type=password]{
  margin-left: auto;
  margin-right: auto;
  margin: 0.25rem 0;
  padding: 0.5rem;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;

}

.info input[type=text], .info input[type=password]{
  width: 20rem;
  min-width: 20rem;
  
  }

.info textarea{
  width: 20rem;
  height: 10rem;

}

.info input[type=date], .info select, .info input[type=file]{
  width: fit-content;
}


.info input[type=submit] {
  padding: 0.5rem;
  font-weight: bold;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  background: var(--light);
  border-radius: 0.25rem;
  outline: 0;
  font-size: 1.25rem;
  margin: 1rem 0;
 
}


