*{
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;

}

:root{
  --primary: #ddd;
  --dark: #1f1f1f;
  --light: #fff;
  --link: #0000EE;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  
}

html, a{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

body{
  background:var(--dark);
 
}

/* img{
  width: 100%;
} */

/* h1{
  padding: 0.5rem;
  text-align: left;
}

h2{
  margin-left: 1rem;
  padding: 0.5rem;
  text-align: left;
}

h3{
  margin: 0;
  font-weight: bold;
  color: var(--dark);
  text-align: left;
} */


/* fieldset {
  display: block;
  border: solid 1px var(--light);
  padding-block-start: 0.35em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  padding-inline-start: 0.75em;
  min-inline-size: min-content;

} */


.wrapper{
  display: grid;
  padding: 0 0.5rem;

}

/* NAVIGATION */
.header-logo{
  display:grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: solid 1px;

  padding: 0.5rem 1rem;
/* background-image:url(/public/img/sliders/slider01.jpg); */

 
}

.logo, .signin {
  width: 100%;
  text-align: center;
}

.logo img, .signin img{
  /* flex-basis: 100%; */
  margin-left: auto;
  margin-right: auto;

}

.slider{
  width: 100%;
  text-align: center;
  /* margin: 0.5rem; */
  padding: 0 0.25rem;
 
}

.header-nav a{
  display: grid;
  padding: 0.5rem 0;
  text-align: center;
  /* color: var(--light); */
  text-transform: uppercase;
  font-size: 1rem;
  /* box-shadow: var(--shadow); */
  border: solid 1px;

}


/* MAIN LEFT */
.main-section{
width: auto;
padding: 0.5rem;

}


/* .verified-user {
  margin: 0.25rem auto;
  padding: 0.5rem;
  width: 100%;
  border-radius: 3px;
   border: solid 1px var(--light);
  -webkit-box-shadow: 0 0 40px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  
} */
.verified-user, .contactus-response{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0.25rem; */
}

.verified-user h3, .contactus-response h3{
  color: var(--light);
  
} 

.verified-user a{
  color: var(--link);
  text-decoration: underline;

}


/* FOOTER */
.footer{
  display: flex;
  justify-content: space-between;
  border: solid 1px;

}

.cs a{
  text-align: left;
  text-decoration: none;
  /* color: var(--dark); */

}

/* .mobile-apps a{
  color: var(--dark);

} */

.cs{
  text-align: left;

}

.mobile-apps{
  text-align: center;

}

.copyright{
  text-align: right;

}

.cs, .mobile-apps, .social-media, .copyright{
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;

 }

 .mobile-apps img, .social-media img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 0.5rem;

}


/* Banner runs on startup */
/* #mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#26262c;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:850px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 5px;
  text-align: center;
}
#boxes #dialog {
  width:450px; 
  height:auto;
  padding: 10px 10px 10px 10px;
  background-color:#ffffff;
  font-size: 15pt;
}

.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	color: red;
}

.window{
  top: 50%; 
  left: 50%; 
  display: none;
}

.close-icon{
  width: 25px ;
  float:right; 
  margin-right: -25px; 
  margin-top: -20px;
}

.banner{
  width:450rem;
}

.mask{
  width: 2478px; 
  font-size: 32pt; 
  color:white; 
  height: 1202px; 
  display: none; 
  opacity: 0.4;
} */

/* MEDIA QUERIES */
@media(min-width: 600px){
  /* HEADER */
  .logo, .signin {
    width: 90%;
  }

  .header-nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }

  .verified-user, .contactus-response {
    display: block;
    width: 100%;  
   
  }
  
  /* FOOTER */
  .mobile-apps, .social-media{
    display: flex;
   }

   .mobile-apps img, .social-media img{
    width:100%;
   
  }

}

@media(min-width: 800px){

  .logo, .signin{
    width: 50%;
  }

  .wrapper{
    grid-template-columns: 50% 50%;
    
  }

  /* .user-reg-info {
    width: auto; 
    margin: 2rem 0;
    margin-top: 0;
    margin-bottom: 0.25rem;
 
    
  } */

  .mobile-apps img, .social-media img{
    width:80%;
   
  }

}

@media(min-width: 900px){
  .logo, .signin {
    width: 40%;
  }

  .wrapper{
    grid-template-columns: 45% 55%;
    
  }
 
  .mobile-apps img, .social-media img{
    width:50%;
   
  }
}

