.products{
  display: grid;

}

.product{
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 0.5em;
  border: solid 1.5px;
  margin: 0.25rem;
  padding: 0.5rem 0;

}

.product-img{
  padding: 0.25rem;
}

.product-info{
  text-align: center;
  background-color:var(--light) ;
  border: solid 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 ;
  color: black;
}

.add-product{
  background: var(--primary);
  margin: 0.5rem 0;
  color: var(--dark);
  font-size: 0.5rem;
  box-shadow: var(--shadow);

  background-size: cover; 
  background-position: center; 
  display: inline-block; 
  border: none; 
  padding: 10px; 
  width: 35px; 
  border-radius: 450px; 
  height: 35px; 
  transition: all 0.5s; 
  cursor: pointer;
}

.add-product:hover{ 
  width: 37.5px; height: 37.5px;
}

.course.soldout {
  box-shadow: none;
  background-color: var(--light);
  color: #999;
}

.rating-list img{
  width: 50%;
  height: 50%;
padding: 0.25rem;
  
}

.product-rating-img{
  width: 40%;
  height: 40%;
}

.pagenumbers{
  text-align: center;
}