<div class="login">
  {{#each messages}}
  <div class="errors">{{this}}</div>
  {{/each}}
  <h1>{{headingInfo}}</h1>
  <form method="POST" action="/admin/dashboard">
    <p><input type="text" name="email" value="" placeholder="Email address"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p class="remember_me">
      <label>
        <input type="checkbox" name="remember_me" id="remember_me">
        Remember me on this computer
      </label>
    </p>
    <p class="submit"><input type="submit" name="commit" value="Login"></p>
  </form>
</div>
<div class="login-help">
  <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
</div>
