<div class="main-info">
  <div class="sub-header">
    <h1>{{headingInfo}}</h1>
  </div>
  <nav class="sub-nav">
    <ul>
      <li><a href="/admin/room/add">Add Room</a></li>
      {{!-- <li><a href="/room/edit">Edit Room</a></li> --}}
       <li><a href="/admin/room/list">List Room</a></li>
      <li><a href="/admin/logout">Logout </a></li>
    </ul>
  </nav>
  <div class="info">
    <ul>
      <li><label>Full name</label> {{admin.firstName}} {{admin.lastName}}</li>
      <li><label>Email address</label> {{admin.email}}</li>
    </ul>
  </div>
  <div class="sub-footer">
    <ul>
      <li><a href="/admin/edit">Edit </a></li>
    </ul>
  </div>
</div>

