
<main class="wrapper">


<div class="main-section">
   {{!-- {{>verified-user}} --}}
   {{>contactus-response}}
   {{>promo}}
   {{>book}}
</div>
{{>promo-rooms}}

{{!-- <p>Places to stay around Canada</p> --}}



</main>