<div>
  <h1>{{headingInfo}}</h1>
  <ul>
    <li><img src="/img/users/{{profilePic}}"> </li>
    <li><label>Legal name</label>  </li>
    <li><label>Gender</label> </li>
    <li><label>Date of birth</label></li>
    <li><label>Email address</label> </li>
    <li><label>Phone number</label> </li>
    <li><label>Government ID</label> </li>
    <li><label>Address</label ></li>
  </ul>
</div>