<div class="sign-up">
  {{#each messages}}
  <div class="errors">{{this}}</div>
  {{/each}}
  <form method="POST" action="/user/signup">
    <p><input type="text" name="email" value="" placeholder="Email address">*</p>
    <p><input type="text" name="phoneNumber" value="" placeholder="Phone number">*</p>
    <p><input type="text" name="firstName" value="" placeholder="First name">*</p>
    <p><input type="text" name="lastName" value="" placeholder="Last name">&nbsp</p>
    <p><input type="password" name="password" value="" placeholder="Create a password">*</p>
    <p class="tos-privacy">
      <label>
        <input type="checkbox" name="tos-privacy" id="tos-privacy" required>
        I agree the <a href="#">Dark Airbnb's Terms of Service</a>, <a href="#">Payments Terms of Service </a>, <a
          href="#">Privacy Policy</a>, and <a href="#">Non discrimination Policy</a>.
      </label>
    </p>
    <p class="dont_want_receive">
      <label>
        <input type="checkbox" name="dont_want_receive" id="dont_want_receive">
        I don't want to receive marketing messages from Dark Airbnb
      </label>
    </p>
    <p class="submit"><input type="submit" name="signup" value="Sign up"></p>
  </form>
</div>
{{!-- <div class="login-help">
  <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
</div> --}}
<div class="login-help">
  <p>Already have an Dark Airbnb account <a href="/user/login">Log in</a></p>
</div>
